# Latex output
*.aux
*.log
*.nav
*.out
*.snm
*.toc
*.fdb_latexmk
*.synctex.gz
*.bbl
*.blg
*.sty
*.cls
*.fls
*.bcf
*.xml

# Data
*.txt
*.xls
*.doc
*.pcl

# Python
*.pyc
*.ipynb
*.ipynb_checkpoints*

# R
*.Rhistory

# Binaries
*.pdf
*.hdf5
*.RData
*.pkl
*.npz

# Images
*.jpg
*.png

# Mac
.DS_Store
Icon\r
Icon^M

# Misc
*.zip
*.tar
*.tar.gz
*.ini
*.dropbox

# Log output
*__stdout__*
*__stderr__*

